In [1]:
import pandas as pd

### There are two types
### 1) Nominal
### Ex1: Chennai , Banglore, Vellore
### Ex2: male , female
### Ex3: green , red , blue
### 2) Ordinal
### Ex1: Statisfied,neutral,disstatisfied
### Ex2: graduate,masters,phd
### Ex3: high,medium,low