In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [6]:
data = {
        "area":[2600,3000,3200,3600,4000],
        "Bedrooms":[3,4,None,3,5],
        "age":[20,15,18,30,8],
        "price":[550000,565000,610000,595000,760000]
       }
df = pd.DataFrame(data)
df

   area  Bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [13]:
median = round(df.Bedrooms.median())
df.Bedrooms.fillna(median,inplace = True)

In [14]:
df

   area  Bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [16]:
reg = LinearRegression()

In [24]:
reg.fit(df[['area','Bedrooms','age']],df.price)

LinearRegression()

In [32]:
list(reg.coef_)

[165.47645490892936, -72491.11505997328, -10725.233229675694]

In [35]:
reg.intercept_

543902.7099067078

In [40]:
reg.predict(np.array([[3300,3,40]]))

/home/pradeep.k@zucisystems.com/.local/share/virtualenvs/ML-hrB-DkCA/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([443492.33673923])

### y = m1 * x1 + m2 * x2 + m3 * x3 + b

In [49]:
165.47645490892936 * 3300 + - 72491.11505997328 *3 + -10725.233229675694 * 40 + 543902.7099067078

443492.33673922706

## predict - 2

In [50]:
reg.predict(np.array([[2500,4,5]]))

/home/pradeep.k@zucisystems.com/.local/share/virtualenvs/ML-hrB-DkCA/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([614003.22079076])

In [51]:
list(reg.coef_)

[165.47645490892936, -72491.11505997328, -10725.233229675694]

In [52]:
reg.intercept_

543902.7099067078

### y = m1 * x1 + m2 * x2 + m3 * x3 + b

In [53]:
165.47645490892936 * 2500 + - 72491.11505997328 *4 + -10725.233229675694 * 5 + 543902.7099067078

614003.2207907595